@import "normalize.css"; /* bring in normalize.css styles */
@import "mem-2019.webflow.css";

html {
  height: 100%;
}

.body {
  background-image: url("./images/inspo/Mem_bg.png");
  background-size: cover;
}

.app, .text-span  {
  color: #141414;
  border-color: #141414;
}

.paragraph {
  color: white;
}

.logo {
  left: 2vh;
  top: 3vh;
}

.next-button.submarine {
  width: 280px;
}

.next {
  position: absolute;
   top: 18%; 
   left: 59%;
   color: #c5a652;
   font-size: 2rem;
   font-family: 'Poiret One', sans-serif;
   font-weight: bold;
}
